.messages-container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: aliceblue;
}

.selected-channel {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e6ecf3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-channel span {
    font-weight: 700;
}

.chat-container {
    position: relative;
    padding: 1rem;
    background-color: #e0edf7;
}

.scroll-style {
    max-height: 400px !important;
    min-height: 400px !important;
    overflow-y: scroll !important
}

.send-msg-section {
    padding: 0.5rem;
}