<div class="container">
    <!-- Page header start -->
    <nav class="navbar bg-body-tertiary">
        <span class="navbar-brand mb-0 h1">Chat App</span>
    </nav>
    <!-- Page header end -->

    <!-- Chat panel start -->
    <div class="card m-0">
        <div class="row chat-layout">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <app-user-panel></app-user-panel>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                <app-message-panel></app-message-panel>
            </div>
        </div>
    </div>
    <!-- Chat panel end -->
</div>